.vscode/**
.vscode-test/**
.github/**
artifacts/**
coverage/**
out/test/**
scripts/**
test/**

src/**
.gitignore
GEMINI.md
h2o.lock.json
tree-sitter-bash.lock.json
package-lock.json
test.bb
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.*
**/*.map
**/*.ts
bin/h2o-*
